

body{
  font-family: 'Work Sans', sans-serif;
    margin: 0;
    color: #454959;
 
}
    


.title{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  

}
 h3 {
   font-size: 30px;
 }
/* copied */

  .nav {
    position: fixed;
    width: 100%;
    display: block;
    justify-content: space-around;
    font-weight: 700;
    
    margin: 0 auto;
    padding: 0.5%;
    
    background-color: #ffcccc;
    text-align: left;
    color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
    
  }
  
  
  .nav a {
    transition: all .5s;
    text-decoration: none;
    
  }
  .nav a:hover {
    color: white;
  }
.nav-text {
  text-shadow: -1px -1px 2px black;
  font-family: 'Work Sans', sans-serif;
}
  
/* copied */

header{
    text-align: center;
    padding-top: 45px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}

.intro{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

/* photo stuff */

img{
    max-width: 100%;
    max-height: 100%;
   
}

        
.pics{
    margin-left: auto;
    margin-right: auto;
    width: 70%;    
        
    display: block;
    
}    

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  figcaption{
      text-align: center;

  }

  
 

  .image{
      border-radius: 20%;
      border-color: white;
      transition: all .5s;
      
  }
  .image:hover{
      transform: scale(1.2) rotate(5deg);
      border-radius: 20%;
      border-color: white;
  }

  #footer {
    position: relative;
    bottom: 0;
    
}
/* media stuff */

/* media stuff */

/* mk stuff*/

    #mk-intro {

        text-align: center;

    }

    .big-three {
      
      font-size: 30px;
      
    }
  
    .big-three p {
      font-size: 15px;
    }
/* mk stuff*/

/* copntact stuff*/

#contact-methods::before {
  content:"\21CA";
  display: block;
  color: black;
  text-align: center;
  font-size: 30px;
}

#contact-methods a {

  text-align: center;
  display: block;
  
  background-color: grey;

  width: 250px;
  padding: 20px;
  border-radius: 20px/10px;
  margin: 1rem auto;
  
  color: white;
  
  font-size: 30px;
  text-decoration: none;
}




/* contact stuff*/
    