

body{
    font-family: Verdana;
    margin: 0;
    
}

.title{
   font-family: Verdana; 

}

/* copied */

  .nav {
    position: fixed;
    width: 100%;
    display: block;
    justify-content: space-around;
    font-weight: 700;
    
    margin: 0 auto;
    padding: 0.5%;
    
    background-color: #ffcccc;
    text-align: left;
    color: whitesmoke;
    font-family: cursive;
    text-shadow: black;

  }
  
  
  .nav a {
    transition: all .5s;
    
  }
  .nav a:hover {
    color: white;
  }

  
/* copied */

header{
    text-align: center;
    padding-top: 45px;
}

.intro{
    text-align: center;
}

/* photo stuff */

img{
    max-width: 100%;
    max-height: 100%;
   
}

        
.pics{
    margin-left: auto;
    margin-right: auto;
    width: 70%;    
        
    display: block;
    
}    

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  figcaption{
      text-align: center;

  }

  
  #footer {
      position: relative;
      bottom: 0;
      
  }

  .image{
      border-radius: 20%;
      border-color: white;
      transition: all .5s;
      
  }
  .image:hover{
      transform: scale(1.2) rotate(5deg);
      border-radius: 20%;
      border-color: white;
  }


  /* mk stuff*/

    #mk-intro {

        text-align: center;

    }

    .big-three {
      
      font-size: 30px;
      
    }
  
    .big-three p {
      font-size: 15px;
    }