a {
  text-decoration: none;
}

body{
  font-family: 'Work Sans', sans-serif;
    margin: 0;
    color: #454959;
 
}
    


.title{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  

}
 h3 {
   font-size: 30px;
 }
/* copied */

  .nav {
    position: fixed;
    width: 100%;
    display: block;
    justify-content: space-around;
    font-weight: 700;
    
    margin: 0 auto;
    padding: 0.2%;
    
    background-color: #ffcccc;
    text-align: left;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
    
    
  }
  
  
  .nav a {
    transition: all .5s;
    text-decoration: none;
    
  }
  .nav a:hover {
    color: white;
  }
.nav-text {
  text-shadow: -1px -1px 5px  black;
  font-family: 'Work Sans', sans-serif;
  text-align: right;
}

.nav img {
  width: 3.5%;
  
}
  
/* copied */

header{
    text-align: center;
    padding-top: 5%;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}

.intro{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

/* photo stuff */

img{
    max-width: 100%;
    max-height: 100%;
   
}

        
.pics{
    margin-left: auto;
    margin-right: auto;
    width: 70%;    
        
    display: block;
    
}    

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  figcaption{
      text-align: center;
      font-size: 22px;

  }

  
 

  .image{
      border-radius: 20%;
      border-color: white;
      transition: all .5s;
      
  }
  .image:hover{
      transform: scale(1.2) rotate(5deg);
      border-radius: 20%;
      border-color: white;
  }

  #footer {
    position: relative;
    bottom: 0;
    
}
/* media stuff */

/* media stuff */

/* mk stuff*/

    #park-intro {

        text-align: center;

    }

    .big-three {
      
      font-size: 30px;
      font-weight: bold;
      
    }
  
    .big-three p {
      font-size: 15px;
      font-weight: lighter;
      
    }

    .list {
      margin-left: 4px;

      /* box stuff*/
      display: block;
   text-align: center;
   width: 50%;
   border: 15px solid white;
   border-radius: 7%;
   padding: 1%;
   margin: auto;
   background-image: radial-gradient(white, #ffcccc);
 } 
    
/* mk stuff*/

/* copntact stuff*/

.contact h2 {
  text-align: center;
}

#social-media {
  background-color: white !important;
  display: block;
  text-align: center;
  text-decoration: none;
  
  
}


.contact-methods::before {
  content:"\21CA";
  display: block;
  color: black;
  text-align: center;
  font-size: 30px;
}

.contact-methods a {

  text-align: center;
  display: block;
  
  background-color: grey;

  width: 250px;
  padding: 20px;
  border-radius: 20px/10px;
  margin: 1rem auto;
  color: white;
  font-size: 30px;
  text-decoration: none;

  
}

.contact-methods a:hover {
  box-shadow: inset 0 0 10px 5px whitesmoke;
}


/* contact stuff end*/
 /* about stuff*/

 #about-header img {
 
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
 }

 #about-header img:hover {
  transform: scale(1.2) rotate(5deg);
 }

 .bio {
   
   display: block;
   text-align: center;
   width: 50%;
   border: 15px solid white;
   border-radius: 7%;
   padding: 1%;
   margin: auto;
   background-image: radial-gradient(white, #ffcccc);
 } 

  /* about stuff end */   

  /* media*/
  @media (max-width: 500px) {
    .nav {
      padding: 2.5%;
    }
    .nav img {
      width: 7%;
    }

    .title {
      font-size: 30px;
      padding-top: 10%;
    }
    header h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 20px;
    }

    .big-three {
      font-size: 18px;
    }

    p {
      font-size: 13px;
    }
    
    figcaption {
      font-size: 15px;
    }
  }